@model Book

<tr class="table-striped">
    <td>@Model.Title</td>
    <td>@Model.AuthorLast, @Model.AuthorFirst</td>
    <td>@Model.Publisher</td>
    <td>@Model.ISBN</td>
    <td>@Model.Classification, @Model.Category2</td>
    <td>$@Model.Price</td>
    <td>@Model.NumPages</td>
</tr>